Package: com.booleanmagic.displayrecorder
Name: Display Recorder
Version: 1.3.7
Architecture: iphoneos-arm
Description: Record the display in real-time with YouTube uploads, send to camera roll, web interface, ProTapper-style touch circles and Activator integration
Depiction: http://rpetri.ch/cydia/displayrecorder/
Website: http://rpetri.ch/cydia/displayrecorder/
Maintainer: Ryan Petrich <rpetrich+displayrecorder@gmail.com>
Author: Ryan Petrich <rpetrich+displayrecorder@gmail.com>
Depends: mobilesubstrate, preferenceloader (>= 2.0.5), libactivator (>= 1.7.2), gdata-objectivec-client, firmware (>= 3), openssl, gsc.opengles-2, firmware (<< 6.2)
Tag: cydia::commercial
Section: System
dev: rpetrich
Installed-Size: 1340
